<mat-toolbar color="primary">
  Agregar Paciente
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<mat-card>
 <form (submit)="onAddPatient(patientFrom)" #patientFrom="ngForm">
    <mat-form-field>
        <input matInput type="text" required name=Name placeholder="Nombre paciente"
            ngModel>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" required name=lastName placeholder="Apellido" ngModel>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="date" required name=Date placeholder="fecha nacimiento" ngModel>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" required name=phoneNum placeholder="Número de teléfono" ngModel>
    </mat-form-field>

  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button type= "submit"
    mat-raised-button 
    color="primary"> Guardar  </button>
  </mat-dialog-actions>
  </form>
</mat-card>

