
<mat-card>
    <form (submit)=" onAddAppointment(appointmentForm)" #appointmentForm="ngForm">
        <mat-form-field>
            <input matInput type="date" required name="date" placeholder="date" ngModel>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" required name=Name placeholder="Nombre paciente" ngModel>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" required name=lastName placeholder="Apellido" ngModel>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="date" required name=Date placeholder="fecha nacimiento" ngModel>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" required name=phoneNum placeholder="Número de teléfono" ngModel>
        </mat-form-field>
        <mat-dialog-actions>
            <span class="flex-spacer"></span>
            
            <button type="submit" mat-raised-button color="primary"> Guardar </button>
        </mat-dialog-actions>

</form>
</mat-card>


